@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Authorization Interface</h1>
    <p>Authorization is valid. Here are permissions the app is requesting</p>
</div>
